# PART1 データを読み込んでみよう
## おまじない
- まずおまじないを書くために、このセルの下に新しいセルを作ろう

In [16]:
import pandas as pd
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt

## データの読み込み
- データを読み込む前にcase1の中にあるtrain.csvをメモ帳で開いて確かめてみましょう（excelで開くと文字化けします）
- 拡張子のcsvとはカンマで区切られたデータのことです
- 通常、列の頭には列行の内容を示す名前がついています（ない場合もあります）

In [29]:
train = pd.read_csv("bento/train.csv")
# train = "./bento/train.csv"
# type(train)

pandas.core.frame.DataFrame

## 早速trainのデータの中身を見てみましょう
- head関数を使います
- 関数は必ずカッコが必要になります

In [30]:
train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>y</th>
      <th>week</th>
      <th>soldout</th>
      <th>name</th>
      <th>kcal</th>
      <th>remarks</th>
      <th>event</th>
      <th>payday</th>
      <th>weather</th>
      <th>precipitation</th>
      <th>temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2013-11-18</td>
      <td>90</td>
      <td>月</td>
      <td>0</td>
      <td>厚切りイカフライ</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>19.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2013-11-19</td>
      <td>101</td>
      <td>火</td>
      <td>1</td>
      <td>手作りヒレカツ</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2013-11-20</td>
      <td>118</td>
      <td>水</td>
      <td>0</td>
      <td>白身魚唐揚げ野菜あん</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>15.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2013-11-21</td>
      <td>120</td>
      <td>木</td>
      <td>1</td>
      <td>若鶏ピリ辛焼</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>15.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013-11-22</td>
      <td>130</td>
      <td>金</td>
      <td>1</td>
      <td>ビッグメンチカツ</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>16.1</td>
    </tr>
  </tbody>
</table>
</div>

## headは先頭行を表示するが、最終行が見たい場合は・・・

In [31]:
train.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>y</th>
      <th>week</th>
      <th>soldout</th>
      <th>name</th>
      <th>kcal</th>
      <th>remarks</th>
      <th>event</th>
      <th>payday</th>
      <th>weather</th>
      <th>precipitation</th>
      <th>temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>202</th>
      <td>2014-9-24</td>
      <td>59</td>
      <td>水</td>
      <td>1</td>
      <td>白身魚のマスタード焼き</td>
      <td>408.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>曇</td>
      <td>0</td>
      <td>24.8</td>
    </tr>
    <tr>
      <th>203</th>
      <td>2014-9-25</td>
      <td>50</td>
      <td>木</td>
      <td>0</td>
      <td>牛カルビ焼き肉</td>
      <td>394.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>曇</td>
      <td>0</td>
      <td>25.4</td>
    </tr>
    <tr>
      <th>204</th>
      <td>2014-9-26</td>
      <td>45</td>
      <td>金</td>
      <td>0</td>
      <td>ランチビュッフェ</td>
      <td>NaN</td>
      <td>スペシャルメニュー（800円）</td>
      <td>キャリアアップ支援セミナー</td>
      <td>NaN</td>
      <td>晴れ</td>
      <td>--</td>
      <td>27.1</td>
    </tr>
    <tr>
      <th>205</th>
      <td>2014-9-29</td>
      <td>56</td>
      <td>月</td>
      <td>1</td>
      <td>豚肉と玉子の炒め</td>
      <td>404.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>26.6</td>
    </tr>
    <tr>
      <th>206</th>
      <td>2014-9-30</td>
      <td>40</td>
      <td>火</td>
      <td>0</td>
      <td>鶏肉とカシューナッツ炒め</td>
      <td>398.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>28.1</td>
    </tr>
  </tbody>
</table>
</div>

## 行数と列数を確認したい場合はshapeを使います
- shapeは関数ではないのでカッコはいりません

In [32]:
train.shape

(207, 12)

# 実習

1.test.csvの変数名をtestとして、sample.csvの変数名をsampleとして読み込んでみよう
- ファイル名を書く時はダブルクォーテーションを忘れないようにしよう

In [35]:
test = pd.read_csv("bento/test.csv")
sample = pd.read_csv("bento/sample.csv")

2.testは何行何列ありますか？

In [36]:
test.shape

(40, 11)

3.testの3行目のメニューはなんでしょう？

In [38]:
test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>week</th>
      <th>soldout</th>
      <th>name</th>
      <th>kcal</th>
      <th>remarks</th>
      <th>event</th>
      <th>payday</th>
      <th>weather</th>
      <th>precipitation</th>
      <th>temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014-10-1</td>
      <td>水</td>
      <td>1</td>
      <td>メンチカツ</td>
      <td>420.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>雨</td>
      <td>0</td>
      <td>20.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014-10-2</td>
      <td>木</td>
      <td>0</td>
      <td>バーベキューチキン</td>
      <td>415.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>曇</td>
      <td>--</td>
      <td>23.9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014-10-3</td>
      <td>金</td>
      <td>0</td>
      <td>豚肉のマスタード焼き</td>
      <td>405.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>晴れ</td>
      <td>--</td>
      <td>28.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014-10-6</td>
      <td>月</td>
      <td>1</td>
      <td>麻婆春雨</td>
      <td>400.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>雨</td>
      <td>0.5</td>
      <td>21.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014-10-7</td>
      <td>火</td>
      <td>0</td>
      <td>厚揚げ肉みそ炒め</td>
      <td>430.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>晴れ</td>
      <td>--</td>
      <td>22.1</td>
    </tr>
  </tbody>
</table>
</div>

4.testの10行目まで見たい。どうしたらいいか考えてみよう

In [39]:
test.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>week</th>
      <th>soldout</th>
      <th>name</th>
      <th>kcal</th>
      <th>remarks</th>
      <th>event</th>
      <th>payday</th>
      <th>weather</th>
      <th>precipitation</th>
      <th>temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014-10-1</td>
      <td>水</td>
      <td>1</td>
      <td>メンチカツ</td>
      <td>420.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>雨</td>
      <td>0</td>
      <td>20.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014-10-2</td>
      <td>木</td>
      <td>0</td>
      <td>バーベキューチキン</td>
      <td>415.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>曇</td>
      <td>--</td>
      <td>23.9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014-10-3</td>
      <td>金</td>
      <td>0</td>
      <td>豚肉のマスタード焼き</td>
      <td>405.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>晴れ</td>
      <td>--</td>
      <td>28.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014-10-6</td>
      <td>月</td>
      <td>1</td>
      <td>麻婆春雨</td>
      <td>400.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>雨</td>
      <td>0.5</td>
      <td>21.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014-10-7</td>
      <td>火</td>
      <td>0</td>
      <td>厚揚げ肉みそ炒め</td>
      <td>430.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>晴れ</td>
      <td>--</td>
      <td>22.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2014-10-8</td>
      <td>水</td>
      <td>0</td>
      <td>完熟トマトのホットカレー</td>
      <td>420.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>晴れ</td>
      <td>--</td>
      <td>23.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2014-10-9</td>
      <td>木</td>
      <td>0</td>
      <td>豚キムチ炒め</td>
      <td>435.0</td>
      <td>NaN</td>
      <td>キャリアアップ支援セミナー</td>
      <td>NaN</td>
      <td>曇</td>
      <td>--</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2014-10-10</td>
      <td>金</td>
      <td>0</td>
      <td>ポークカレー</td>
      <td>NaN</td>
      <td>お楽しみメニュー</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>薄曇</td>
      <td>--</td>
      <td>26.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2014-10-14</td>
      <td>火</td>
      <td>0</td>
      <td>若鶏梅肉包揚げ</td>
      <td>408.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>快晴</td>
      <td>--</td>
      <td>26.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2014-10-15</td>
      <td>水</td>
      <td>1</td>
      <td>ミックスグリル</td>
      <td>450.0</td>
      <td>料理長のこだわりメニュー</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>雨</td>
      <td>1.5</td>
      <td>15.6</td>
    </tr>
  </tbody>
</table>
</div>

5.sampleはこのままではちょっとおかしい部分がある。どこがおかしいか？

In [40]:
sample.head

<bound method NDFrame.head of      2014-10-1  24
0    2014-10-2  71
1    2014-10-3  25
2    2014-10-6  32
3    2014-10-7  60
4    2014-10-8  44
5    2014-10-9  64
6   2014-10-10  33
7   2014-10-14  67
8   2014-10-15  28
9   2014-10-16  90
10  2014-10-17  73
11  2014-10-20   9
12  2014-10-21  76
13  2014-10-22   1
14  2014-10-23  99
15  2014-10-24  73
16  2014-10-27  60
17  2014-10-28  99
18  2014-10-29  69
19  2014-10-30  68
20  2014-10-31  35
21   2014-11-4   2
22   2014-11-5  24
23   2014-11-6  10
24   2014-11-7  16
25  2014-11-10  43
26  2014-11-11  20
27  2014-11-12  88
28  2014-11-13  18
29  2014-11-14  63
30  2014-11-17  23
31  2014-11-18  55
32  2014-11-19  83
33  2014-11-20  87
34  2014-11-21  55
35  2014-11-25  47
36  2014-11-26  60
37  2014-11-27  80
38  2014-11-28  77>

In [41]:
sample = pd.read_csv("bento/sample.csv", header=None)

In [42]:
sample.head

<bound method NDFrame.head of              0   1
0    2014-10-1  24
1    2014-10-2  71
2    2014-10-3  25
3    2014-10-6  32
4    2014-10-7  60
5    2014-10-8  44
6    2014-10-9  64
7   2014-10-10  33
8   2014-10-14  67
9   2014-10-15  28
10  2014-10-16  90
11  2014-10-17  73
12  2014-10-20   9
13  2014-10-21  76
14  2014-10-22   1
15  2014-10-23  99
16  2014-10-24  73
17  2014-10-27  60
18  2014-10-28  99
19  2014-10-29  69
20  2014-10-30  68
21  2014-10-31  35
22   2014-11-4   2
23   2014-11-5  24
24   2014-11-6  10
25   2014-11-7  16
26  2014-11-10  43
27  2014-11-11  20
28  2014-11-12  88
29  2014-11-13  18
30  2014-11-14  63
31  2014-11-17  23
32  2014-11-18  55
33  2014-11-19  83
34  2014-11-20  87
35  2014-11-21  55
36  2014-11-25  47
37  2014-11-26  60
38  2014-11-27  80
39  2014-11-28  77>